main {
    flex-direction: column;
}

main .searchSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 5px;
}

main .searchSection.download{
    justify-content: space-between;
}

main .searchSection.download #downloadButton{
    border: none;
    border-radius: 8px;
    padding: 8px;
    background: #1c336c;
    color: #ffff;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
}

main .searchSection span {
    font-size: 14px;
    font-weight: 500;
    padding-right: 5px;
}

main .searchSection input {
    padding: 5px;
    border-radius: 8px;
}

main .table-container {
    height: 80%;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow-y: auto;
}

main .table-container table {
    width: 100%;
    border-collapse: collapse;
}

main .table-container table thead {
    background: #1c336c;
    color: #ffff;
    position: sticky;
    top: 0;
    z-index: 1;
}

main .table-container table td,
main .table-container table th {
    text-align: center;
    font-size: 14px;
    padding: 10px;
}

main .table-container table td button {
    border: none;
    border-radius: 8px;
    padding: 8px;
    background: #1c336c;
    color: #ffff;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 3px;
}

main .table-container table tbody tr {
    border-bottom: solid 1px #333;
}

main .table-container::-webkit-scrollbar {
    width: 8px;
}

main .table-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

main .table-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

main .table-container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}

.dialog-content-use {
    padding: 20px;
    border: none;
    border-radius: 8px;
    background: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dialog-content-use.form{
    width: 400px;
}

.dialog-content-use ul{
    border: solid 2px #333;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 8px;
    width: 100%;
}

.dialog-content-use ul li {
    display: flex;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    cursor: pointer;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
}

.dialog-content-use ul li:hover {
    background: #e9e9e9;
}

.dialog-content-use h3 {
    font-size: 16px;
    font-style: italic;
}

.dialog-content-use .dialog-content-textarea{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.dialog-content-use .dialog-content-textarea textarea{
    padding: 5px;
    margin-top: 5px;
    width: 300px;
    height: 300px;
    resize: none;
    border: solid 2px #333;
    border-radius: 8px;
}

.dialog-content-use button,
.dialog-content-use a {
    border: none;
    border-radius: 8px;
    padding: 8px;
    background: #1c336c;
    color: #ffff;
    cursor: pointer;
    font-size: 13px;
    margin-top: 5px;
    width: 120px;
    text-decoration: none;
}

.dialog-content-use button#cancelarSolicitud {
    background: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog-content-use button#cancelarSolicitud box-icon{
    width: 25px;
    height: 25px;
    padding-right: 5px;
    fill: #f1f1f1;
}

.dialog-content-use button#aceptarSolicitud {
    background: rgb(90, 179, 2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog-content-use button#aceptarSolicitud box-icon{
    padding-right: 5px;
    width: 25px;
    height: 25px;
    fill: #f1f1f1;
}

.dialog-content-use a#cancelarSolicitud {
    background: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog-content-use a#cancelarSolicitud box-icon{
    width: 25px;
    height: 25px;
    padding-right: 5px;
    fill: #f1f1f1;
}

.dialog-content-use a#aceptarSolicitud {
    background: rgb(90, 179, 2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog-content-use a#aceptarSolicitud box-icon{
    padding-right: 5px;
    width: 25px;
    height: 25px;
    fill: #f1f1f1;
}

.dialog-content-use .dialog-content-part {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.dialog-content-use .dialog-content-part .dialog-content-part-info {
    padding-right: 10px;
    width: 100%;
}

.dialog-content-use .dialog-content-part .dialog-content-part-info .dialog-content-part-info-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.dialog-content-use .dialog-content-part .dialog-content-part-info .dialog-content-part-info-button {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 8px;
}

.dialog-content-use .dialog-content-part .dialog-content-part-info .dialog-content-part-info-button button{
    margin-top: 0;
}

.dialog-content-part-info-section-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
}

.dialog-content-part-info-section-div h5{
    padding-right: 8px;
}

.dialog-content-part-info-section-div span{
    text-decoration: underline;
}

.dialog-content-use .dialog-content-part .dialog-content-part-info .dialog-content-part-info-horario{
    width: 100%;
    border: solid 1px #333;
    border-radius: 8px;
    padding: 5px;
    margin-top: 8px;
}

.dialog-content-use .dialog-content-part .dialog-content-part-info .dialog-content-part-info-horario h5{
    width: 100%;
    border-bottom: solid 1px #333;
}

.dialog-content-use .dialog-content-part .dialog-content-part-info .dialog-content-part-info-acciones{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.dialog-content-use .dialog-content-part .dialog-content-part-info .dialog-content-part-info-horario textarea{
    width: 100%;
    border: none;
    resize: none;
    outline: none;
    font-size: 13px;
    padding-top: 5px;
    height: 120px;
}

.dialog-content-use .dialog-content-part .dialog-content-part-info .dialog-content-part-info-section h5 {
    font-size: 13px;
    font-weight: 600;
    padding-right: 10px;
    white-space: nowrap;
}

.dialog-content-use .dialog-content-part .dialog-content-part-info .dialog-content-part-info-section input {
    font-size: 13px;
    border: none;
    white-space: nowrap;
    text-align: right;
    outline: none;
    border-bottom: solid 1px #333;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

.dialog-content-use .seccionFRadio{
    display: inline-flex;
    border-radius: 15px;
    border: 1px solid #333;
    overflow: hidden;
    margin-top: 3px;
    margin-bottom: 3px;
}

.dialog-content-use .seccionFRadio .radioEntrada{
    display: none;
}

.dialog-content-use .seccionFRadio .radioLabel{
    padding: 6px;
    font-size: 14px;
    color: #333;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
}

.dialog-content-use .seccionFRadio .radioLabel:not(:last-of-type){
    border-right: 1px solid #333;
}

.seccionFRadio .radioEntrada:checked + .radioLabel {
    color: #ffff;
    background: #1c336c;
}

.dialog-content-use .dialog-content-material{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dialog-content-use .dialog-content-material.activate{
    display: none;
}

.dialog-content-use .dialog-content-material .dialog-content-material-div{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;;
    white-space: nowrap;
    justify-content: space-between;
    border: solid 1px #333;
}

.dialog-content-use .dialog-content-material .dialog-content-material-div h5{
    padding-right: 3px;
    padding-left: 3px;
}

.dialog-content-use .dialog-content-material .dialog-content-material-div input{
    width: 100%;
    margin-left: 3px;
    margin-right: 3px;
    border: none;
    outline: none;
}

.dialog-content-use .dialogCContenido .dialogCCBuscardo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 5px;
    border: 1px solid #333;
    border-radius: 8px;
}

.dialog-content-use .dialogCContenido .dialogCCBuscardo i {
    display: flex;
    align-items: center;
    padding-left: 2px;
    padding-right: 5px;
}

.dialog-content-use .dialogCContenido .dialogCCBuscardo i box-icon {
    width: 20px;
    height: 20px;
}

.dialog-content-use .dialogCContenido .dialogCCBuscardo input {
    background: none;
    outline: none;
    border: none;
    width: 100%;
}

.dialog-content-use .dialogCContenido ul {
    margin-top: 10px;
    max-height: 250px;
    overflow-y: auto;
}

.dialog-content-use .dialogCContenido ul li {
    display: flex;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    cursor: pointer;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
}

.dialog-content-use .dialogCContenido ul li:hover {
    background: #e9e9e9;
}

.dialog-content-use .dialogCContenido ul::-webkit-scrollbar {
    width: 2px;
}

.dialog-content-use .dialogCContenido ul::-webkit-scrollbar-thumb {
    background-color: #acacac;
    border-radius: 10px;
}

.dialog-content-use .dialogCContenido ul::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

@media (max-width: 650px) {
    main {
        text-align: center;
    }

    main .searchSection {
        justify-content: center;
    }

    main .searchSection.download{
        flex-direction: column;
    }

    main .searchSection.download #downloadButton{
        margin-top: 5px;
    }

    main .table-container table thead {
        display: none;
    }

    table,
    tbody,
    tr,
    td {
        display: block;
        width: 100%;
    }

    main .table-container table tbody tr {
        margin-bottom: 10px;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 8px;
    }

    main .table-container table td {
        text-align: right;
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 8px 0;
    }

    main .table-container table td button {
        margin-bottom: 0;
        margin-right: 3px;
    }

    main .table-container table td::before {
        content: attr(data-label);
        text-align: left;
        font-weight: bold;
        font-size: 14px;
        margin-right: 10px;
    }

    .dialog-content-use,
    .dialog-content-use.form {
        min-width: 250px;
        width: auto;
    }

    .dialog-content-use .dialog-content-textarea textarea{
        width: 100%;
        min-width: 100px;
    }

    .dialog-content-use .dialog-content-part {
        flex-direction: column;
    }

    .dialog-content-use .dialog-content-part .dialog-content-part-info {
        padding-right: 0;
    }

    .dialog-content-use .dialog-content-part .dialog-content-part-info .dialog-content-part-info-button {
        flex-direction: column;
    }

    .dialog-content-use .dialog-content-part .dialog-content-part-info .dialog-content-part-info-button button{
        margin-top: 5px;
    }

    .dialog-content-use .dialog-content-part .dialog-content-part-info .dialog-content-part-info-acciones{
        flex-direction: column;
    }    
}