@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background: #ffff;
    overflow: hidden;
}

body main,
body main .seccionFormulario {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

body main .seccionFormulario .seccionFCambio {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

body main .seccionFormulario,
body main .seccionFormulario .seccionFCambio {
    justify-content: center;
}

body main .seccionFormulario #seccionFCambioCode {
    display: none;
}

body main .seccionFormulario #seccionFCambioCode h5 {
    padding-top: 6px;
}

body main .seccionFormulario #seccionFCambioCode a {
    text-align: center;
    border: none;
    background: crimson;
    color: #ffff;
    padding: 10px;
    border-radius: 8px;
    font-weight: 600;
    margin-top: 10px;
    font-size: 14px;
    text-decoration: none;
}

body main .seccionFormulario {
    flex-direction: column;
    padding-right: 10px;
    padding-left: 10px;
    color: #333;
}

body main .seccionFormulario .seccionFEntrada {
    width: 100%;
    max-width: 300px;
    height: 50px;
    border: 1px solid #333;
    border-radius: 55px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
}

body main .seccionFormulario #seccionFCambioCode .seccionFEntrada{
    justify-content: space-between;
}

body main .seccionFormulario #seccionFCambioCode .seccionFEntrada div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

body main .seccionFormulario #seccionFCambioCode .seccionFEntrada button{
    background: none;
    border: none;
    height: 100%;
    padding-right: 8px;
    padding-left: 8px;
    border-left: 1px solid #333;
    color: #acacac;
    font-weight: 600;
    cursor: pointer;
}

body main .seccionFormulario .seccionFEntrada i {
    fill: #acacac;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

body main .seccionFormulario .seccionFEntrada i box-icon{
    width: 20px;
    height: 20px;
}

body main .seccionFormulario .seccionFEntrada input {
    background: none;
    border: none;
    outline: none;
    color: #333;
    width: 100%;
    padding-left: 5px;
    padding-right: 10px;
    font-weight: 600;
    font-size: 14px;
}

body main .seccionFormulario .seccionFEntrada input::placeholder {
    color: #acacac;
    font-weight: 500;
}

body main .seccionFormulario .seccionFLlave {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

body main .seccionFormulario .seccionFLlave button {
    background: none;
    border: none;
    cursor: pointer;
    padding-right: 5px;
}

body main .seccionFormulario .seccionFLlave button i {
    display: flex;
    align-items: center;
}

body main .seccionFormulario .seccionFLlave button i box-icon{
    width: 30px;
    height: 30px;
}

body main .seccionFormulario #botonInicio {
    text-align: center;
    border: none;
    background: #1c336c;
    color: #ffff;
    padding: 10px;
    border-radius: 8px;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
}

body main .seccionFormulario .seccionFEnlace {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

body main .seccionFormulario .seccionFEnlace a {
    text-decoration: none;
    color: #1c336c;
    font-weight: 900;
    font-size: 13px;
    padding-top: 5px;
}