{% extends "sidebar_admin.html" %}

{% block cssDedicado %}
<link rel="stylesheet" href="{{ url_for('static', filename='css_admin_4.css') }}">
{% endblock %}

{% block title %}Caseteros Registrados{% endblock %}

{% block identificacion %}{{admin[0]}}{% endblock %}

{% block contenidoPrincipal %}
<h4>Caseteros Registrados</h4>
<div class="botonesLista">
    <button onclick="openDialog('estudiantes-descargar')">Descargar Lista</button>
    <button onclick="openDialog('estudiantes-eliminar')">Nuevo Casetero</button>
</div>
<div class="searchSection">
    <span>Busqueda</span>
    <input type="search" oninput="filterList()" placeholder="Buscar" id="searchInput">
</div>
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Identificación</th>
                <th>Laboratorio</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Detalles</th>
            </tr>
        </thead>
        <tbody>
            {% for casetero in caseteros %}
            <tr id="solicitud-{{ casetero[0] }}">
                <td data-label="Identificación">{{ casetero[0] }}</td>
                <td data-label="Laboratorio">{{ casetero[3] }}</td>
                <td data-label="Nombres">{{ casetero[1] }}</td>
                <td data-label="Apellidos">{{ casetero[2] }}</td>
                <td data-label="Detalles" id="tdButton">
                    <button onclick="openDialog('{{ casetero[0] }}')">ABRIR</button>
                </td>
            </tr>
            <dialog id="dialog-{{ casetero[0] }}">
                <div class="dialog-content-use">
                    <h3>Detalles del Maestro</h3>
                    <div class="dialog-content-part">
                        <div class="dialog-content-part-info">
                            <div class="dialog-content-part-info-section">
                                <h5>Identificación:</h5>
                                <input type="text" value="{{ casetero[0] }}" autocomplete="off">
                            </div>
                            <div class="dialog-content-part-info-section" id="sectionProfesor">
                                <h5>Laboratorio:</h5>
                                <input list="labd" type="text" value="{{ casetero[3] }}" autocomplete="off">
                                <datalist id="labd">
                                    <option value="Y1-Y2">
                                    <option value="Y6-Y7">
                                    <option value="Y8">
                                </datalist>
                            </div>
                            <div class="dialog-content-part-info-section" id="sectionProfesor">
                                <h5>Correo:</h5>
                                <input type="text" value="{{ casetero[4] }}" autocomplete="off">
                            </div>
                            <div class="dialog-content-part-info-section" id="sectionProfesor">
                                <h5>Nombres:</h5>
                                <input type="text" value="{{ casetero[1] }}" autocomplete="off">
                            </div>
                            <div class="dialog-content-part-info-section" id="sectionProfesor">
                                <h5>Apellidos:</h5>
                                <input type="text" value="{{ casetero[2] }}" autocomplete="off">
                            </div>
                            <div class="dialog-content-part-info-section" id="sectionProfesor">
                                <h5>Contraseña:</h5>
                                <input type="text" value="{{ casetero[5] }}" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <button onclick="actualizarUsuario('{{ casetero[0] }}')">ACTUALIZAR</button>
                    <button onclick="eliminarUsuario('{{ casetero[0] }}')">ELIMINAR</button>
                    <button onclick="closeDialog('{{ casetero[0] }}')">CERRAR</button>
                </div>
            </dialog>
            {% endfor %}
            <dialog id="dialog-actualizar">
                <div class="dialog-content-use">
                    <span>¿Estás seguro de actualizar los datos?</span>
                    <button onclick="confirmarActualizacion()">ACEPTAR</button>
                    <button onclick="closeDialog('actualizar')">CERRAR</button>
                </div>
            </dialog>
            <dialog id="dialog-eliminar">
                <div class="dialog-content-use">
                    <span>¿Estás seguro de eliminar al casetero de la base de datos?</span>
                    <button onclick="confirmarEliminacion()">ACEPTAR</button>
                    <button onclick="closeDialog('eliminar')">CERRAR</button>
                </div>
            </dialog>
            <dialog id="dialog-estudiantes-descargar">
                <div class="dialog-content-use">
                    <span>¿Quieres descargar la lista de caseteros?</span>
                    <a id="botonRojo" href="/administrador/pdf/caseteros"><box-icon type='solid'
                            name='file-pdf'></box-icon>PDF</a>
                    <a id="botonVerde" href="/administrador/csv/caseteros"><box-icon type='logo'
                            name='microsoft'></box-icon>EXCEL</a>
                    <button onclick="closeDialog('estudiantes-descargar')">CERRAR</button>
                </div>
            </dialog>
            <dialog id="dialog-estudiantes-eliminar">
                <div class="dialog-content-use">
                    <h3>Nuevo Casetero</h3>
                    <div class="dialog-content-part">
                        <div class="dialog-content-part-info">
                            <div class="dialog-content-part-info-section">
                                <h5>Identificación:</h5>
                                <input type="text" autocomplete="off" placeholder="Identificación">
                            </div>
                            <div class="dialog-content-part-info-section" id="sectionProfesor">
                                <h5>Laboratorio:</h5>
                                <input list="labd" type="text" autocomplete="off" placeholder="Laboratorio">
                            </div>
                            <div class="dialog-content-part-info-section" id="sectionProfesor">
                                <h5>Correo:</h5>
                                <input type="text" autocomplete="off" placeholder="Correo">
                            </div>
                            <div class="dialog-content-part-info-section" id="sectionProfesor">
                                <h5>Nombres:</h5>
                                <input type="text" autocomplete="off" placeholder="Nombres">
                            </div>
                            <div class="dialog-content-part-info-section" id="sectionProfesor">
                                <h5>Apellidos:</h5>
                                <input type="text" autocomplete="off" placeholder="Apellidos">
                            </div>
                            <div class="dialog-content-part-info-section" id="sectionProfesor">
                                <h5>Contraseña:</h5>
                                <input type="text" autocomplete="off" placeholder="Contraseña">
                            </div>
                        </div>
                    </div>
                    <button onclick="agregarUsuario()">AGREGAR</button>
                    <button onclick="closeDialog('estudiantes-eliminar')">CERRAR</button>
                </div>
            </dialog>
            <dialog id="dialog-abrir">
                <div class="dialog-content-use">
                    <span>¿Estás seguro de agregar al casetero a la base de datos?</span>
                    <button onclick="agregarMaestro()">ACEPTAR</button>
                    <button onclick="closeDialog('abrir')">CERRAR</button>
                </div>
            </dialog>
        </tbody>
    </table>
</div>
{% endblock %}

{% block scriptDedicado %}
<script src="{{ url_for('static', filename='js_admin_4.js') }}"></script>
{% endblock %}