{% extends "sidebar_admin.html" %}

{% block cssDedicado %}
{% if accion == 'estudiantes' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css_admin_2.css') }}">
{% endif %}
{% if accion == 'maestros' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css_admin_3.css') }}">
{% endif %}
{% if accion == 'caseteros' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css_admin_4.css') }}">
{% endif %}
{% endblock %}

{% block title %}
{% if accion == 'estudiantes' %}
Estudiantes Registrados
{% endif %}
{% if accion == 'maestros' %}
Maestros Registrados
{% endif %}
{% if accion == 'caseteros' %}
Caseteros Registrados
{% endif %}
{% endblock %}

{% block identificacion %}{{admin[0]}}{% endblock %}

{% block contenidoPrincipal %}
<h4>
    {% if accion == 'estudiantes' %}
    Estudiantes Registrados
    {% endif %}
    {% if accion == 'maestros' %}
    Maestros Registrados
    {% endif %}
    {% if accion == 'caseteros' %}
    Caseteros Registrados
    {% endif %}
</h4>
<div class="botonesLista">
    <button onclick="openDialogUser('estudiantes-descargar')">Descargar Lista</button>
    <button onclick="openDialogUser('estudiantes-eliminar')">
        {% if accion == 'estudiantes' %}
        Borrar Estudiantes
        {% endif %}
        {% if accion == 'maestros' %}
        Nuevo Maestro
        {% endif %}
        {% if accion == 'caseteros' %}
        Nuevo Casetero
        {% endif %}
    </button>
</div>
<div class="searchSection">
    <span>Busqueda</span>
    <input type="search" oninput="filterList()" placeholder="Buscar" id="searchInput">
</div>
<div class="table-container">
    <table>
        <thead>
            <tr>
                {% if accion == 'estudiantes' %}
                <th>Número de Control</th>
                <th>Carrera</th>
                {% endif %}
                {% if accion == 'maestros' %}
                <th>Identificación</th>
                {% endif %}
                {% if accion == 'caseteros' %}
                <th>Identificación</th>
                <th>Laboratorio</th>
                {% endif %}
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Detalles</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr id="solicitud-{{ usuario[0] }}">
                {% if accion == 'estudiantes' %}
                <td data-label="N. Control">{{ usuario[0] }}</td>
                <td data-label="Carrera">{{ usuario[4] }}</td>
                <td data-label="Nombres">{{ usuario[5] }}</td>
                <td data-label="Apellidos">{{ usuario[6] }}</td>
                {% endif %}
                {% if accion == 'maestros' %}
                <td data-label="Identificación">{{ usuario[0] }}</td>
                <td data-label="Nombres">{{ usuario[2] }}</td>
                <td data-label="Apellidos">{{ usuario[3] }}</td>
                {% endif %}
                {% if accion == 'caseteros' %}
                <td data-label="Identificación">{{ usuario[0] }}</td>
                <td data-label="Laboratorio">{{ usuario[3] }}</td>
                <td data-label="Nombres">{{ usuario[1] }}</td>
                <td data-label="Apellidos">{{ usuario[2] }}</td>
                {% endif %}
                <td data-label="Detalles" id="tdButton">
                    <button onclick="openDialogUser('{{ usuario[0] }}')">ABRIR</button>
                </td>
            </tr>
            <dialog id="dialog-{{ usuario[0] }}">
                <div class="dialog-content-use">
                    <h3>
                        {% if accion == 'estudiantes' %}
                        Detalles del Estudiante
                        {% endif %}
                        {% if accion == 'maestros' %}
                        Detalles del Maestro
                        {% endif %}
                        {% if accion == 'caseteros' %}
                        Detalles del Casetero
                        {% endif %}
                    </h3>
                    <div class="dialog-content-part">
                        {% if accion == 'estudiantes' %}
                        <div class="dialog-content-part-info">
                            <div class="dialog-content-part-info-section">
                                <h5>Número de Control:</h5>
                                <input type="text" value="{{ usuario[0] }}" autocomplete="off">
                            </div>
                            <div class="dialog-content-part-info-section" id="sectionProfesor">
                                <h5>Correo:</h5>
                                <input type="text" value="{{ usuario[3] }}" autocomplete="off">
                            </div>
                            <div class="dialog-content-part-info-section" id="sectionProfesor">
                                <h5>Carrera:</h5>
                                <input list="carrerasd" value="{{ usuario[4] }}" autocomplete="off">
                                <datalist id="carrerasd">
                                    {% for carrera in carreras %}
                                    <option value="{{ carrera }}">
                                        {% endfor %}
                                </datalist>
                            </div>
                            <div class="dialog-content-part-info-section" id="sectionProfesor">
                                <h5>Nombres:</h5>
                                <input type="text" value="{{ usuario[5] }}" autocomplete="off">
                            </div>
                            <div class="dialog-content-part-info-section" id="sectionProfesor">
                                <h5>Apellidos:</h5>
                                <input type="text" value="{{ usuario[6] }}" autocomplete="off">
                            </div>
                            <div class="dialog-content-part-info-section" id="sectionVales">
                                <h5>Vales Solicitados</h5>
                                <div>
                                    <span>Laboratorio: {{ usuario[1] }}</span>
                                    <span>Proyecto: {{ usuario[2] }}</span>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if accion == 'maestros' %}
                        <div class="dialog-content-part-info">
                            <div class="dialog-content-part-info-section">
                                <h5>Identificación:</h5>
                                <input type="text" value="{{ usuario[0] }}" autocomplete="off">
                            </div>
                            <div class="dialog-content-part-info-section" id="sectionProfesor">
                                <h5>Correo:</h5>
                                <input type="text" value="{{ usuario[1] }}" autocomplete="off">
                            </div>
                            <div class="dialog-content-part-info-section" id="sectionProfesor">
                                <h5>Nombres:</h5>
                                <input type="text" value="{{ usuario[2] }}" autocomplete="off">
                            </div>
                            <div class="dialog-content-part-info-section" id="sectionProfesor">
                                <h5>Apellidos:</h5>
                                <input type="text" value="{{ usuario[3] }}" autocomplete="off">
                            </div>
                            <div class="dialog-content-part-info-section" id="sectionProfesor">
                                <h5>Contraseña:</h5>
                                <input type="text" value="{{ usuario[4] }}" autocomplete="off">
                            </div>
                        </div>
                        {% endif %}
                        {% if accion == 'caseteros' %}
                        <div class="dialog-content-part-info">
                            <div class="dialog-content-part-info-section">
                                <h5>Identificación:</h5>
                                <input type="text" value="{{ usuario[0] }}" autocomplete="off">
                            </div>
                            <div class="dialog-content-part-info-section" id="sectionProfesor">
                                <h5>Laboratorio:</h5>
                                <input list="labd" type="text" value="{{ usuario[3] }}" autocomplete="off">
                                <datalist id="labd">
                                    <option value="Y1-Y2">
                                    <option value="Y6-Y7">
                                    <option value="Y8">
                                </datalist>
                            </div>
                            <div class="dialog-content-part-info-section" id="sectionProfesor">
                                <h5>Correo:</h5>
                                <input type="text" value="{{ usuario[4] }}" autocomplete="off">
                            </div>
                            <div class="dialog-content-part-info-section" id="sectionProfesor">
                                <h5>Nombres:</h5>
                                <input type="text" value="{{ usuario[1] }}" autocomplete="off">
                            </div>
                            <div class="dialog-content-part-info-section" id="sectionProfesor">
                                <h5>Apellidos:</h5>
                                <input type="text" value="{{ usuario[2] }}" autocomplete="off">
                            </div>
                            <div class="dialog-content-part-info-section" id="sectionProfesor">
                                <h5>Contraseña:</h5>
                                <input type="text" value="{{ usuario[5] }}" autocomplete="off">
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {% if accion == 'estudiantes' %}
                    {% if usuario[1] == '0' and usuario[2] == '0' %}
                    <button onclick="actualizarUsuario('{{ usuario[0] }}')">ACTUALIZAR</button>
                    <button onclick="eliminarUsuario('{{ usuario[0] }}')">ELIMINAR</button>
                    {% endif %}
                    {% else %}
                    <button onclick="actualizarUsuario('{{ usuario[0] }}')">ACTUALIZAR</button>
                    <button onclick="eliminarUsuario('{{ usuario[0] }}')">ELIMINAR</button>
                    {% endif %}
                    <button onclick="closeDialogUser('{{ usuario[0] }}')">CERRAR</button>
                </div>
            </dialog>
            {% endfor %}
            <dialog id="dialog-actualizar">
                <div class="dialog-content-use">
                    <span>¿Estás seguro de actualizar los datos?</span>
                    <button onclick="confirmarActualizacion()">ACEPTAR</button>
                    <button onclick="closeDialogUser('actualizar')">CERRAR</button>
                </div>
            </dialog>
            <dialog id="dialog-eliminar">
                <div class="dialog-content-use">
                    {% if accion == 'estudiantes' %}
                    <span>¿Estás seguro de eliminar al estudiante de la base de datos?</span>
                    {% endif %}
                    {% if accion == 'maestros' %}
                    <span>¿Estás seguro de eliminar al maestro de la base de datos?</span>
                    {% endif %}
                    {% if accion == 'caseteros' %}
                    <span>¿Estás seguro de eliminar al casetero de la base de datos?</span>
                    {% endif %}
                    <button onclick="confirmarEliminacion()">ACEPTAR</button>
                    <button onclick="closeDialogUser('eliminar')">CERRAR</button>
                </div>
            </dialog>
            <dialog id="dialog-estudiantes-descargar">
                <div class="dialog-content-use">
                    {% if accion == 'estudiantes' %}
                    <span>¿Quieres descargar la lista de estudiantes?</span>
                    <a id="botonRojo" href="/administrador/pdf/estudiantes"><box-icon type='solid'
                            name='file-pdf'></box-icon>PDF</a>
                    <a id="botonVerde" href="/administrador/csv/estudiantes"><box-icon type='logo'
                            name='microsoft'></box-icon>EXCEL</a>
                    {% endif %}
                    {% if accion == 'maestros' %}
                    <span>¿Quieres descargar la lista de maestros?</span>
                    <a id="botonRojo" href="/administrador/pdf/maestros"><box-icon type='solid'
                            name='file-pdf'></box-icon>PDF</a>
                    <a id="botonVerde" href="/administrador/csv/maestros"><box-icon type='logo'
                            name='microsoft'></box-icon>EXCEL</a>
                    {% endif %}
                    {% if accion == 'caseteros' %}
                    <span>¿Quieres descargar la lista de caseteros?</span>
                    <a id="botonRojo" href="/administrador/pdf/caseteros"><box-icon type='solid'
                            name='file-pdf'></box-icon>PDF</a>
                    <a id="botonVerde" href="/administrador/csv/caseteros"><box-icon type='logo'
                            name='microsoft'></box-icon>EXCEL</a>
                    {% endif %}
                    <button onclick="closeDialogUser('estudiantes-descargar')">CERRAR</button>
                </div>
            </dialog>
            {% if accion == 'estudiantes' %}
            <dialog id="dialog-estudiantes-eliminar">
                <div class="dialog-content-use">
                    <span>¿Quieres eliminar a todos los estudiantes?</span>
                    <input type="text" id="borrarEstudiantesInput" placeholder="Escribe tu contraseña"
                        autocomplete="off">
                    <button id="botonRojo" onclick="confirmarEliminacionCompleta()">BORRAR</button>
                    <button onclick="closeDialogUser('estudiantes-eliminar')">CERRAR</button>
                </div>
            </dialog>
            {% endif %}
            {% if accion == 'maestros' %}
            <dialog id="dialog-estudiantes-eliminar">
                <div class="dialog-content-use">
                    <h3>Nuevo Maestro</h3>
                    <div class="dialog-content-part">
                        <div class="dialog-content-part-info">
                            <div class="dialog-content-part-info-section">
                                <h5>Identificación:</h5>
                                <input type="text" autocomplete="off" placeholder="Identificación">
                            </div>
                            <div class="dialog-content-part-info-section" id="sectionProfesor">
                                <h5>Correo:</h5>
                                <input type="text" autocomplete="off" placeholder="Correo">
                            </div>
                            <div class="dialog-content-part-info-section" id="sectionProfesor">
                                <h5>Nombres:</h5>
                                <input type="text" autocomplete="off" placeholder="Nombres">
                            </div>
                            <div class="dialog-content-part-info-section" id="sectionProfesor">
                                <h5>Apellidos:</h5>
                                <input type="text" autocomplete="off" placeholder="Apellidos">
                            </div>
                            <div class="dialog-content-part-info-section" id="sectionProfesor">
                                <h5>Contraseña:</h5>
                                <input type="text" autocomplete="off" placeholder="Contraseña">
                            </div>
                        </div>
                    </div>
                    <button onclick="agregarUsuario()">AGREGAR</button>
                    <button onclick="closeDialogUser('estudiantes-eliminar')">CERRAR</button>
                </div>
            </dialog>
            <dialog id="dialog-abrir">
                <div class="dialog-content-use">
                    <span>¿Estás seguro de agregar al maestro a la base de datos?</span>
                    <button onclick="agregarMaestro()">ACEPTAR</button>
                    <button onclick="closeDialogUser('abrir')">CERRAR</button>
                </div>
            </dialog>
            {% endif %}
            {% if accion == 'caseteros' %}
            <dialog id="dialog-estudiantes-eliminar">
                <div class="dialog-content-use">
                    <h3>Nuevo Casetero</h3>
                    <div class="dialog-content-part">
                        <div class="dialog-content-part-info">
                            <div class="dialog-content-part-info-section">
                                <h5>Identificación:</h5>
                                <input type="text" autocomplete="off" placeholder="Identificación">
                            </div>
                            <div class="dialog-content-part-info-section" id="sectionProfesor">
                                <h5>Laboratorio:</h5>
                                <input list="labd" type="text" autocomplete="off" placeholder="Laboratorio">
                            </div>
                            <div class="dialog-content-part-info-section" id="sectionProfesor">
                                <h5>Correo:</h5>
                                <input type="text" autocomplete="off" placeholder="Correo">
                            </div>
                            <div class="dialog-content-part-info-section" id="sectionProfesor">
                                <h5>Nombres:</h5>
                                <input type="text" autocomplete="off" placeholder="Nombres">
                            </div>
                            <div class="dialog-content-part-info-section" id="sectionProfesor">
                                <h5>Apellidos:</h5>
                                <input type="text" autocomplete="off" placeholder="Apellidos">
                            </div>
                            <div class="dialog-content-part-info-section" id="sectionProfesor">
                                <h5>Contraseña:</h5>
                                <input type="text" autocomplete="off" placeholder="Contraseña">
                            </div>
                        </div>
                    </div>
                    <button onclick="agregarUsuario()">AGREGAR</button>
                    <button onclick="closeDialogUser('estudiantes-eliminar')">CERRAR</button>
                </div>
            </dialog>
            <dialog id="dialog-abrir">
                <div class="dialog-content-use">
                    <span>¿Estás seguro de agregar al casetero a la base de datos?</span>
                    <button onclick="agregarMaestro()">ACEPTAR</button>
                    <button onclick="closeDialogUser('abrir')">CERRAR</button>
                </div>
            </dialog>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scriptDedicado %}
{% if accion == 'estudiantes' %}
<script>
    // Convertir las carreras de Jinja2 a un array JavaScript
    let carrerasDisponibles = JSON.parse('{{ carreras | tojson | safe }}');
</script>
<script src="{{ url_for('static', filename='js_admin_2.js') }}"></script>
{% endif %}
{% if accion == 'maestros' %}
<script src="{{ url_for('static', filename='js_admin_3.js') }}"></script>
{% endif %}
{% if accion == 'caseteros' %}
<script src="{{ url_for('static', filename='js_admin_4.js') }}"></script>
{% endif %}
{% endblock %}