{% extends "notification.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css_password.css') }}">
{% endblock %}

{% block title %}Contraseña{% endblock %}

{% block content %}
<div class="seccionFormulario">
    <h1>Cambio de Contraseña</h1>
    <div class="seccionFEntrada">
        <i><box-icon name='envelope' ></box-icon></i>
        <input type="email" placeholder="Correo Institucional" id="correoInicio" autocomplete="off">
    </div>
    <div class="seccionFCambio" id="seccionFCambioCode">
        <div class="seccionFEntrada">
            <i><box-icon name='key' type='solid' ></box-icon></i>
            <input type="text" placeholder="Nueva Contraseña" id="llaveInicio" autocomplete="off">
        </div>
        <h5>Ingresa el Codigo Enviado a tu Correo</h5>
        <div class="seccionFEntrada">
            <div>
                <i><box-icon name='id-card'></box-icon></i>
                <input type="text" placeholder="Codigo" id="codigoInicio" autocomplete="off">
            </div>
            <button onclick="cambiarLlave()">ENVIAR</button>
        </div>
        <a href="/inicio">CANCELAR</a>
    </div>
    <button id="botonInicio" onclick="codigoLlave()">ENVIAR CODIGO</button>
    <div class="seccionFEnlace">
        <h5>¿Ya tienes una cuenta?</h5>
        <a href="/inicio">Inicia Sesión</a>
    </div>
</div>
{% endblock %}

{% block script_section %}
<script src="{{url_for('static', filename='js_password.js')}}"></script>
{% endblock %}