{% extends "notification.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css_sidebar.css') }}">
{% block cssDedicado %}
{% endblock %}
{% endblock %}

{% block popup %}
<dialog id="logoutDialog">
    <div class="dialog-content">
        <span>¿Estás seguro de que deseas cerrar sesión?</span>
        <div class="dialog-buttons">
            <a href="/">Salir</a>
            <button onclick="closeDialog()">Cancelar</button>
        </div>
    </div>
</dialog>
<div class="backdrop" id="backdrop"></div>
<div class="sidebar" id="sidebar">
    <header>
        <img src="{{url_for('static', filename='img_logo.png')}}">
        <div class="headerInformacion">
            <span>{% block identificacion %}{% endblock %}</span>
            <span>Estudiante</span>
        </div>
    </header>
    <div class="listaSidebar">
        <ul>
            <li class="li_link" data-path="/estudiante/inicio">
                <a href="/estudiante/inicio">
                    <i><box-icon name='home-alt-2'></box-icon></i>
                    <span>Inicio</span>
                </a>
            </li>
            <li class="li_link" data-path="/estudiante/vale,/estudiante/historial">
                <button class="botonOcultar" onclick="toggleMenu()">
                    <i><box-icon name='file' ></box-icon></i>
                    <span>Vales</span>
                </button>
            </li>
            <div class="menuDesplegable" id="menuDesplegable">
                <a href="/estudiante/vale">Solicitar Vale</a>
                <a href="/estudiante/historial">Vales Solicitados</a>
            </div>
            <li class="li_link" data-path="/estudiante/perfil">
                <a href="/estudiante/perfil">
                    <i><box-icon name='user' ></box-icon></i>
                    <span>Perfil</span>
                </a>
            </li>
            <li class="li_link">
                <button onclick="openDialog()">
                    <i><box-icon name='exit' ></box-icon></i>
                    <span>Cerrar Sesión</span>
                </button>
            </li>
            <li class="li_link">
                <button class="botonOcultar" onclick="toggleSidebar()">
                    <i><box-icon name='left-arrow-alt' ></box-icon></i>
                    <span>Ocultar Menú</span>
                </button>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
<button id="mostrarMenuBoton" class="mostrarMenuBoton" onclick="toggleSidebar()">
    <i><box-icon name='right-arrow-alt' ></box-icon></i>
    <span>Menú</span>
</button>
{% block contenidoPrincipal %}
{% endblock %}
{% endblock %}

{% block script_section %}
<script src="{{ url_for('static', filename='js_sidebar_student.js') }}"></script>
{% block scriptDedicado %}
{% endblock %}
{% endblock %}