{% extends "sidebar_teacher.html" %}

{% block cssDedicado %}
<link rel="stylesheet" href="{{ url_for('static', filename='css_teacher_3.css') }}">
{% endblock %}

{% block title %}Solicitudes{% endblock %}

{% block identificacion %}{{maestro[0]}}{% endblock %}

{% block contenidoPrincipal %}
<div class="searchSection">
    <span>Busqueda</span>
    <input type="search" oninput="filterList()" placeholder="Buscar" id="searchInput">
</div>
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Número de Control</th>
                <th>Nombre</th>
                <th>Vale</th>
                <th>Hora</th>
                <th>Fecha</th>
                <th>Laboratorio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for solicitud in solicitudes %}
            <tr id="solicitud-{{ solicitud[0] }}">
                <td data-label="N. Control">{{ solicitud[1] }}</td>
                <td data-label="Nombre">{{ solicitud[6] }} {{ solicitud[7] }}</td>
                <td data-label="Vale">{{ solicitud[14] }}</td>
                <td data-label="Hora de Solicitud">{{ solicitud[2] }}</td>
                <td data-label="Fecha de Solicitud">{{ solicitud[3] }}</td>
                <td data-label="Laboratorio">{{ solicitud[12] }}</td>
                <td data-label="Detalles">
                    <button onclick="openDialogInfo('{{ solicitud[0] }}')">INFORMACIÓN</button>
                </td>
            </tr>
            <dialog id="dialog-{{ solicitud[0] }}">
                <div class="dialog-content-use">
                    <h3>Detalles de la Solicitud</h3>
                    <div class="dialog-content-part">
                        <div class="dialog-content-part-info">
                            <div class="dialog-content-part-info-section" id="sectionProfesor">
                                <h5>ESTUDIANTE:</h5>
                                <span>{{ solicitud[6] }} {{ solicitud[7] }}</span>
                            </div>
                            <div class="dialog-content-part-info-section">
                                <h5>NÚMERO DE CONTROL:</h5>
                                <span>{{ solicitud[1] }}</span>
                            </div>
                            <div class="dialog-content-part-info-section">
                                <h5>VALE:</h5>
                                <span>{{ solicitud[14] }}</span>
                            </div>
                            <div class="dialog-content-part-info-section">
                                <h5>LABORATORIO:</h5>
                                <span>{{ solicitud[12] }}</span>
                            </div>
                            <div class="dialog-content-part-info-section">
                                <h5>HORA:</h5>
                                <span>{{ solicitud[2] }}</span>
                            </div>
                            <div class="dialog-content-part-info-section">
                                <h5>FECHA:</h5>
                                <span>{{ solicitud[3] }}</span>
                            </div>
                            <div class="dialog-content-part-info-section">
                                <h5>MATERIA:</h5>
                                <span>{{ solicitud[9] }}</span>
                            </div>
                            <div class="dialog-content-part-info-section">
                                <h5>GRUPO:</h5>
                                <span>{{ solicitud[10] }}</span>
                            </div>
                            <div class="dialog-content-part-info-section">
                                <h5>N. ALUMNOS:</h5>
                                <span>{{ solicitud[11] }}</span>
                            </div>
                        </div>
                        <div class="dialog-content-part-material">
                            <div class="dialog-content-part-material-table">
                                {% for item in material[solicitud[0]] %}
                                <span>{{item[0]}} : {{item[1]}}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <button onclick="closeDialogInfo('{{ solicitud[0] }}')">CERRAR</button>
                </div>
            </dialog>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scriptDedicado %}
<script src="{{url_for('static', filename='js_teacher_3.js')}}"></script>
{% endblock %}