{% extends "sidebar_worker.html" %}

{% block cssDedicado %}
<link rel="stylesheet" href="{{ url_for('static', filename='css_worker_3.css') }}">
{% endblock %}

{% block title %}Vales Pendientes de Material{% endblock %}

{% block identificacion %}{{casetero[0]}}{% endblock %}

{% block contenidoPrincipal %}
<div class="searchSection">
    <span>Busqueda</span>
    <input type="search" oninput="filterList()" placeholder="Buscar" id="searchInput">
</div>
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Número de Control</th>
                <th>Nombre</th>
                <th>Vale</th>
                <th>Hora</th>
                <th>Fecha</th>
                <th>Laboratorio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for solicitud in solicitudes %}
            <tr id="solicitud-{{ solicitud[0] }}">
                <td data-label="N. Control">{{ solicitud[1] }}</td>
                <td data-label="Nombre">{{ solicitud[6] }} {{ solicitud[7] }}</td>
                <td data-label="Vale">{{ solicitud[14] }}</td>
                <td data-label="Hora de Solicitud">{{ solicitud[2] }}</td>
                <td data-label="Fecha de Solicitud">{{ solicitud[3] }}</td>
                <td data-label="Laboratorio">{{ solicitud[12] }}</td>
                <td data-label="Detalles" id="tdButton">
                    <button onclick="openDialogInfo('{{ solicitud[0] }}')">DETALLES</button>
                </td>
            </tr>
            <dialog id="dialog-{{ solicitud[0] }}">
                <div class="dialog-content-use">
                    <h3>Detalles de la Solicitud</h3>
                    <div class="dialog-content-part">
                        <div class="dialog-content-part-info">
                            <div class="dialog-content-part-info-section" id="sectionProfesor">
                                <h5>ESTUDIANTE:</h5>
                                <span>{{ solicitud[6] }} {{ solicitud[7] }}</span>
                            </div>
                            <div class="dialog-content-part-info-section" id="sectionProfesor">
                                <h5>PROFESOR:</h5>
                                <span>{{ solicitud[8] }}</span>
                            </div>
                            <div class="dialog-content-part-info-section">
                                <h5>NÚMERO DE CONTROL:</h5>
                                <span>{{ solicitud[1] }}</span>
                            </div>
                            <div class="dialog-content-part-info-section">
                                <h5>VALE:</h5>
                                <span>{{ solicitud[14] }}</span>
                            </div>
                            <div class="dialog-content-part-info-section">
                                <h5>LABORATORIO:</h5>
                                <span>{{ solicitud[12] }}</span>
                            </div>
                            <div class="dialog-content-part-info-section">
                                <h5>HORA:</h5>
                                <span>{{ solicitud[2] }}</span>
                            </div>
                            <div class="dialog-content-part-info-section">
                                <h5>FECHA:</h5>
                                <span>{{ solicitud[3] }}</span>
                            </div>
                            <div class="dialog-content-part-info-section">
                                <h5>MATERIA:</h5>
                                <span>{{ solicitud[9] }}</span>
                            </div>
                            <div class="dialog-content-part-info-section">
                                <h5>GRUPO:</h5>
                                <span>{{ solicitud[10] }}</span>
                            </div>
                            <div class="dialog-content-part-info-section">
                                <h5>N. ALUMNOS:</h5>
                                <span>{{ solicitud[11] }}</span>
                            </div>
                        </div>
                        <div class="dialog-content-part-material">
                            <div class="dialog-content-part-material-table" data-id="{{ solicitud[0] }}">
                                {% for item in material[solicitud[0]] %}
                                {% if item[2] == 'SI' %}
                                {% for i in range(item[1] | int) %}
                                <div class="span-container">
                                    <button class="remove-btn" onclick="removeSpan(event)">x</button>
                                    <span onclick="openDialogMaterial('{{ item[0] }}', event)">{{ item[0] }}:</span>
                                </div>
                                {% endfor %}
                                {% else %}
                                <div class="span-container">
                                    <button class="remove-btn" onclick="removeSpan(event)">x</button>
                                    <span onclick="openDialogCantidad(event)">{{item[0]}}: {{item[1]}}</span>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <button id="botonAceptar" onclick="enviarTablasMaterial('{{ solicitud[0] }}')">ENVIAR</button>
                    <button id="botonCancelar" onclick="openDialogCancelar('{{ solicitud[0] }}')">CANCELAR</button>
                    <button onclick="closeDialogInfo('{{ solicitud[0] }}')">CERRAR</button>
                </div>
            </dialog>
            <dialog id="dialog-accept-{{ solicitud[0] }}">
                <div class="dialog-content-use">
                    <span>¿Estás seguro de aceptar el vale?</span>
                    <button id="cancelarSolicitud" onclick="aceptarSolicitud('{{ solicitud[0] }}')">ACEPTAR</button>
                    <button onclick="closeDialogAceptar('{{ solicitud[0] }}')">CANCELAR</button>
                </div>
            </dialog>
            <dialog id="dialog-cancel-{{ solicitud[0] }}">
                <div class="dialog-content-use">
                    <span>¿Estás seguro de borrar el vale?</span>
                    <button id="cancelarSolicitud" onclick="cancelarSolicitudCasetero('{{ solicitud[0] }}')">ACEPTAR</button>
                    <button onclick="closeDialogCancelar('{{ solicitud[0] }}')">CANCELAR</button>
                </div>
            </dialog>
            {% endfor %}
        </tbody>
    </table>
</div>
{% for item in equipo %}
{% for llave in item.keys() %}
<dialog id="dialog-item-{{ llave }}">
    <div class="dialog-content-use">
        <h5>Selecciona el Equipo</h5>
        <ul>
            {% for ide in item[llave] %}
            <li>{{ ide }}</li>
            {% endfor %}
        </ul>
        <button onclick='closeDialogMaterial("{{ llave }}")'>CERRAR</button>
    </div>
</dialog>
{% endfor %}
{% endfor %}
<dialog id="dialog-item-cantidad">
    <div class="dialog-content-use">
        <h5>Selecciona la Cantidad</h5>
        <ul>
            {% for d in range(1, 11) %}
            <li>{{ d }}</li>
            {% endfor %}
        </ul>
        <button onclick='closeDialogCantidad()'>CERRAR</button>
    </div>
</dialog>
{% endblock %}

{% block scriptDedicado %}
<!-- <script src="{{url_for('static', filename='js_teacher_2.js')}}"></script> -->
<script src="{{url_for('static', filename='js_worker_3.js')}}"></script>
{% endblock %}